@media screen and (max-width: 1000px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    #profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0rem;
        height: 88vh;
    }
}

@media screen and (max-width: 800px) {
    nav {
        height: 15vh;
        margin: 0 7rem;
    }
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    section {
        margin: 0 7rem;
    }
    #profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0rem;
        height: 94vh;
    }
}

@media screen and (max-width: 600px) {
    nav {
        height: 10vh;
        margin: 0 3rem;
    }
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    section {
        margin: 0 3rem;
    }
    #profile {
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0rem;
        height: 90vh;
    }
    .section-text-title {
        margin-bottom: 10px;
    }
}


@media screen and (max-width: 400px) {
    nav {
        height: 10vh;
        margin: 0 2rem;
    }
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    #profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0rem;
        margin: 10vh 2rem 0 2rem;
        height: 130vh;
    }
}