@media screen and (max-width: 1000px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    #profile {
        flex-direction: column;
        align-items: center;
        gap: 0rem;
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    nav {
        height: 10vh;
        margin: 0 6rem;
    }
    section {
        margin: 0 6rem;
    }
}

@media screen and (max-width: 450px) {
    nav {
        margin: 0 2rem;
    }
    section {
        margin: 0 2rem;
    }
    .project-tech-icons {
        flex-wrap: wrap;
    }
    .wrap {
        flex-direction: column;
    }
}